<a href="https://colab.research.google.com/github/RodrigoSchneiderbr/Machine_learning/blob/main/trabalho_pratico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as srn

In [ ]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")

In [ ]:
df.head()

     datetime  rec_id  season  year  ...  windspeed  casual  registered  total_count
0  2011-01-01       1       1     0  ...        0.0       3          13           16
1  2011-01-01       2       1     0  ...        0.0       8          32           40
2  2011-01-01       3       1     0  ...        0.0       5          27           32
3  2011-01-01       4       1     0  ...        0.0       3          10           13
4  2011-01-01       5       1     0  ...        0.0       0           1            1

[5 rows x 17 columns]

In [ ]:
df.tail()

         datetime  rec_id  season  ...  casual  registered  total_count
17374  2012-12-31   17375       1  ...      11         108          119
17375  2012-12-31   17376       1  ...       8          81           89
17376  2012-12-31   17377       1  ...       7          83           90
17377  2012-12-31   17378       1  ...      13          48           61
17378  2012-12-31   17379       1  ...      12          37           49

[5 rows x 17 columns]

In [ ]:
df.shape

(17379, 17)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  object
 1   rec_id             17379 non-null  int64
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [ ]:
df['windspeed'].mean()

0.1900976063064631

In [ ]:
df['temp'].mean()

0.4969871684216586

In [ ]:
df_questao_4 = df.loc[df['year'] == 0]

In [ ]:
df_questao_4.count()

datetime             8645
rec_id               8645
season               8645
year                 8645
month                8645
hour                 8645
is_holiday           8645
weekday              8645
is_workingday        8645
weather_condition    8645
temp                 8645
atemp                8645
humidity             8645
windspeed            8645
casual               8645
registered           8645
total_count          8645
dtype: int64

In [ ]:
df_questao_4.shape

(8645, 17)

In [ ]:
df_questao_5 = df.loc[df['year'] == 1]
df_questao_5.shape

(8734, 17)

In [ ]:
df_questao_5['total_count'].sum()

2049576

In [ ]:
df_questao_4['total_count'].sum()

1243103

In [32]:
df_season_1 = df.loc[df['season'] == 1]
df_season_2 = df.loc[df['season'] == 2]
df_season_3 = df.loc[df['season'] == 3]
df_season_4 = df.loc[df['season'] == 4]

In [34]:
df_season_1['total_count'].mean()

111.11456859971712

In [35]:
df_season_2['total_count'].mean()

208.34406894987526

In [36]:
df_season_3['total_count'].mean()

236.01623665480426

In [37]:
df_season_4['total_count'].mean()

198.86885633270322

In [40]:
df_questao_10 = df.groupby(['hour']).mean('total_count')

In [ ]:
df_questao_10

In [42]:
df_questao_12 = df.groupby(['weekday']).mean('total_count')

In [43]:
df_questao_12

              rec_id    season      year  ...     casual  registered  total_count
weekday                                   ...
0        8697.580735  2.490408  0.507994  ...  56.163469  121.305356   177.468825
1        8645.734167  2.488503  0.501815  ...  28.553449  155.191206   183.744655
2        8665.830004  2.529148  0.501834  ...  23.580514  167.658377   191.238891
3        8703.582222  2.510707  0.503434  ...  23.159192  167.971313   191.130505
4        8739.579927  2.521651  0.504249  ...  24.872521  171.564144   196.436665
5        8725.739043  2.495778  0.501809  ...  31.458786  164.677121   196.135907
6        8652.199841  2.476115  0.496815  ...  61.246815  128.962978   190.209793

[7 rows x 15 columns]

In [44]:
df_questao_14 = df.loc[df['weekday'] == 3]

In [45]:
df_questao_14.groupby(['hour']).mean('total_count')

           rec_id    season      year  ...     casual  registered  total_count
hour                                   ...
0     8638.586538  2.500000  0.500000  ...   5.875000   28.682692    34.557692
1     8639.586538  2.500000  0.500000  ...   2.788462   12.548077    15.336538
2     8783.205882  2.529412  0.509804  ...   1.519608    6.294118     7.813725
3     8994.979798  2.545455  0.525253  ...   0.656566    4.232323     4.888889
4     9003.781250  2.604167  0.520833  ...   0.552083    4.416667     4.968750
5     8643.442308  2.500000  0.500000  ...   1.259615   24.490385    25.750000
6     8644.442308  2.500000  0.500000  ...   4.480769  103.326923   107.807692
7     8645.442308  2.500000  0.500000  ...  12.788462  291.192308   303.980769
8     8646.442308  2.500000  0.500000  ...  22.884615  465.442308   488.326923
9     8647.442308  2.500000  0.500000  ...  22.173077  216.355769   238.528846
10    8648.442308  2.500000  0.500000  ...  27.009615  104.884615   131.894231
11    8649.442308  2.500000  0.500000  ...  33.336538  118.865385   152.201923
12    8650.442308  2.500000  0.500000  ...  36.153846  157.750000   193.903846
13    8651.442308  2.500000  0.500000  ...  36.144231  149.682692   185.826923
14    8652.442308  2.500000  0.500000  ...  39.673077  130.875000   170.548077
15    8653.442308  2.500000  0.500000  ...  37.028846  144.259615   181.288462
16    8654.442308  2.500000  0.500000  ...  41.538462  231.423077   272.961538
17    8655.442308  2.500000  0.500000  ...  51.932692  461.211538   513.144231
18    8734.776699  2.514563  0.504854  ...  47.398058  446.631068   494.029126
19    8735.776699  2.514563  0.504854  ...  40.970874  316.533981   357.504854
20    8736.776699  2.514563  0.504854  ...  30.533981  226.126214   256.660194
21    8737.776699  2.514563  0.504854  ...  24.737864  169.932039   194.669903
22    8738.776699  2.514563  0.504854  ...  19.310680  124.378641   143.689320
23    8739.776699  2.514563  0.504854  ...  12.184466   71.553398    83.737864

[24 rows x 15 columns]

In [46]:
df_questao_15 = df.loc[df['weekday'] == 6]

In [49]:
df_questao_15.groupby(['hour']).mean('total_count')

           rec_id    season      year  ...      casual  registered  total_count
hour                                   ...
0     8627.114286  2.476190  0.495238  ...   15.514286   78.790476    94.304762
1     8628.114286  2.476190  0.495238  ...   10.714286   57.066667    67.780952
2     8629.114286  2.476190  0.495238  ...    8.780952   41.714286    50.495238
3     8630.114286  2.476190  0.495238  ...    5.104762   17.780952    22.885714
4     8631.114286  2.476190  0.495238  ...    2.095238    5.561905     7.657143
5     8788.961165  2.504854  0.504854  ...    1.592233    6.699029     8.291262
6     8633.095238  2.476190  0.495238  ...    4.209524   16.790476    21.000000
7     8634.095238  2.476190  0.495238  ...    8.247619   37.714286    45.961905
8     8635.095238  2.476190  0.495238  ...   19.809524   94.666667   114.476190
9     8636.095238  2.476190  0.495238  ...   44.200000  142.590476   186.790476
10    8637.095238  2.476190  0.495238  ...   76.828571  186.895238   263.723810
11    8638.095238  2.476190  0.495238  ...  106.952381  221.657143   328.609524
12    8639.095238  2.476190  0.495238  ...  131.123810  244.257143   375.380952
13    8640.095238  2.476190  0.495238  ...  144.495238  240.876190   385.371429
14    8641.095238  2.476190  0.495238  ...  150.009524  231.323810   381.333333
15    8642.095238  2.476190  0.495238  ...  151.247619  231.180952   382.428571
16    8643.095238  2.476190  0.495238  ...  144.504762  221.638095   366.142857
17    8644.095238  2.476190  0.495238  ...  126.314286  208.095238   334.409524
18    8674.019231  2.471154  0.500000  ...   93.903846  198.144231   292.048077
19    8675.019231  2.471154  0.500000  ...   71.413462  168.519231   239.932692
20    8676.019231  2.471154  0.500000  ...   50.586538  130.278846   180.865385
21    8677.019231  2.471154  0.500000  ...   39.923077  116.076923   156.000000
22    8678.019231  2.471154  0.500000  ...   34.951923  104.711538   139.663462
23    8679.019231  2.471154  0.500000  ...   25.778846   90.076923   115.855769

[24 rows x 15 columns]